body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-content: center;
    justify-items: center;
    font-family: 'Lato',sans-serif;
    background: linear-gradient(#1f0067,#6522ff);
}

.main{
    width: 70%;
    height: 80vh;
    background-color: whitesmoke;
    display: flex;
}

.medio{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    align-items: center;
}
