body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(#020067, #2226ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.exit svg {
    width: clamp(18px, 2vw, 25px);
}

.exit a {
    display: flex;
    align-items: center;
    font-size: clamp(14px, 1.2vw, 18px);
    margin-top: 1rem;
    text-decoration: none;
    color: #000000;
}


.main {
    width: 80%;
    height: 80%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin: 4vh 0;
    border-radius: 20px;
    box-shadow: 0 0 3vw rgba(0, 0, 0, 0.5);
    padding: 4vh 2vw;
    justify-content: space-around;
}

.main .sucesso,
.main .quepena {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .sucesso h1 {
    color: #0fb300;
    font-size: 400%;
    margin: 0;
}

.main .quepena h1 {
    color: #e00000;
    font-size: 500%;
    margin: 0;
}

.main .sucesso #pri,
.main .quepena #pri {
    color: #020067;
    font-size: clamp(22px, 2.5vw, 40px);
    margin-bottom: 0;
}

.main .sucesso #sec,
.main .quepena #sec {
    color: #020067;
    font-size: clamp(18px, 1.8vw, 25px);
}

.main .botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    margin-top: 3vh;
    z-index: 20;
}

.main .botoes button {
    flex: 1 1 300px;
    max-width: 400px;
    height: clamp(45px, 6vh, 60px);
    border: none;
    font-size: clamp(16px, 1.5vw, 20px);
    border-radius: 20px;
    background-color: #020067;
    color: whitesmoke;
    transition: all .3s;
    cursor: pointer;
}

.main .botoes button:hover {
    background-color: whitesmoke;
    color: #020067;
    border: 1px solid #020067;
}

.medio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    width: 80%;
}

.medio .enunciado {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.medio .enunciado h2 {
    font-size: clamp(18px, 2vw, 24px);
    width: 9%;
}

.medio .enunciado p {
    font-size: clamp(16px, 1.5vw, 20px);
}

.medio .perguntas {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    gap: 2vh;
}

.medio .perguntas .grupo-1,
.medio .perguntas .grupo-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    width: 100%;
    max-width: 550px;
}

.medio .perguntas button {
    width: 100%;
    height: 50%;
    border: none;
    border-radius: 20px;
    background-color: #020067;
    color: whitesmoke;
    font-size: clamp(16px, 1.5vw, 20px);
    transition: all .3s;
    cursor: pointer;
}

.medio .perguntas button:hover {
    background-color: whitesmoke;
    color: #020067;
    border: 1px solid #020067;
}

.nivel {
    font-size: clamp(16px, 1.5vw, 20px);
    text-align: center;
    margin-top: 2vh;
}

.nivel .fc {
    color: #0b8a00;
}

.nivel .md {
    color: #d68100;
}

.nivel .df {
    color: #df0000;
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
}

.footer .copy {
    color: #ffffff87;
    font-size: clamp(12px, 1vw, 16px);
}

.confetti {
    --animation_speed: 5s;
    --paper_color1: #a4d6f3;
    --paper_color2: #ff0000;
    --paper_color3: #d700ff;
    --paper_color4: #0000ff;
    --paper_color5: #ffb000;
    --paper_color6: #ff00e0;
    position: relative;
}

.confetti::before {
    content: '';
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 1300px;
    height: 1300px;
    z-index: 10;
    background-repeat: no-repeat;
    display: block;
    animation: confetti var(--animation_speed) ease-in-out forwards;

    /* 60 confetes de várias cores */
    background-image:
        linear-gradient(var(--paper_color1) 50%, transparent 20%),
        linear-gradient(var(--paper_color2) 50%, transparent 20%),
        linear-gradient(var(--paper_color3) 25%, transparent 20%),
        linear-gradient(var(--paper_color4) 40%, transparent 20%),
        linear-gradient(var(--paper_color5) 70%, transparent 20%),
        linear-gradient(var(--paper_color6) 60%, transparent 20%),
        linear-gradient(var(--paper_color1) 40%, transparent 20%),
        linear-gradient(var(--paper_color2) 50%, transparent 20%),
        linear-gradient(var(--paper_color3) 15%, transparent 20%),
        linear-gradient(var(--paper_color4) 40%, transparent 20%),
        linear-gradient(var(--paper_color5) 70%, transparent 20%),
        linear-gradient(var(--paper_color6) 60%, transparent 20%),
        linear-gradient(var(--paper_color1) 45%, transparent 20%),
        linear-gradient(var(--paper_color2) 75%, transparent 20%),
        linear-gradient(var(--paper_color3) 55%, transparent 20%),
        linear-gradient(var(--paper_color4) 45%, transparent 20%),
        linear-gradient(var(--paper_color5) 65%, transparent 20%),
        linear-gradient(var(--paper_color6) 60%, transparent 20%),
        linear-gradient(var(--paper_color1) 30%, transparent 20%),
        linear-gradient(var(--paper_color2) 70%, transparent 20%),
        linear-gradient(var(--paper_color3) 45%, transparent 20%),
        linear-gradient(var(--paper_color4) 55%, transparent 20%),
        linear-gradient(var(--paper_color5) 65%, transparent 20%),
        linear-gradient(var(--paper_color6) 50%, transparent 20%),
        linear-gradient(var(--paper_color1) 35%, transparent 20%),
        /* extras */
        linear-gradient(var(--paper_color2) 60%, transparent 20%),
        linear-gradient(var(--paper_color3) 40%, transparent 20%),
        linear-gradient(var(--paper_color4) 80%, transparent 20%),
        linear-gradient(var(--paper_color5) 60%, transparent 20%),
        linear-gradient(var(--paper_color6) 70%, transparent 20%),
        linear-gradient(var(--paper_color1) 50%, transparent 20%),
        linear-gradient(var(--paper_color2) 50%, transparent 20%),
        linear-gradient(var(--paper_color3) 30%, transparent 20%),
        linear-gradient(var(--paper_color4) 40%, transparent 20%),
        linear-gradient(var(--paper_color5) 60%, transparent 20%),
        linear-gradient(var(--paper_color6) 40%, transparent 20%),
        linear-gradient(var(--paper_color1) 70%, transparent 20%),
        linear-gradient(var(--paper_color2) 80%, transparent 20%),
        linear-gradient(var(--paper_color3) 60%, transparent 20%),
        linear-gradient(var(--paper_color4) 30%, transparent 20%),
        linear-gradient(var(--paper_color5) 70%, transparent 20%),
        linear-gradient(var(--paper_color6) 50%, transparent 20%),
        linear-gradient(var(--paper_color1) 60%, transparent 20%),
        linear-gradient(var(--paper_color2) 70%, transparent 20%),
        linear-gradient(var(--paper_color3) 40%, transparent 20%),
        linear-gradient(var(--paper_color4) 80%, transparent 20%),
        linear-gradient(var(--paper_color5) 60%, transparent 20%),
        linear-gradient(var(--paper_color6) 70%, transparent 20%),
        linear-gradient(var(--paper_color1) 50%, transparent 20%),
        linear-gradient(var(--paper_color2) 50%, transparent 20%),
        linear-gradient(var(--paper_color3) 30%, transparent 20%),
        linear-gradient(var(--paper_color4) 40%, transparent 20%),
        linear-gradient(var(--paper_color5) 60%, transparent 20%),
        linear-gradient(var(--paper_color6) 40%, transparent 20%);

    background-size:
        12px 12px, 18px 18px, 14px 16px, 20px 20px, 10px 10px,
        16px 14px, 22px 22px, 18px 16px, 12px 10px, 14px 18px,
        16px 14px, 12px 12px, 20px 20px, 18px 18px, 10px 14px,
        14px 12px, 12px 16px, 16px 18px, 22px 22px, 14px 14px,
        18px 16px, 12px 12px, 20px 20px, 10px 10px, 14px 14px,
        18px 16px, 22px 22px, 10px 14px, 12px 16px, 14px 18px,
        10px 10px, 20px 20px, 16px 18px, 22px 20px, 18px 22px,
        16px 14px, 14px 14px, 12px 10px, 18px 20px, 20px 18px,
        14px 16px, 16px 14px, 18px 18px, 22px 22px, 10px 10px,
        20px 20px, 16px 14px, 14px 12px, 22px 18px, 16px 14px,
        20px 18px, 14px 16px, 12px 12px, 18px 14px, 22px 20px,
        10px 10px, 18px 20px, 16px 18px, 20px 22px, 14px 16px;
}

@keyframes confetti {
    0% {
        opacity: 1;
        background-position:
            2% -10%, 5% -20%, 8% -15%, 10% -25%, 12% -10%, 15% -20%, 18% -15%, 20% -25%, 23% -10%, 25% -20%,
            28% -15%, 30% -25%, 33% -10%, 35% -20%, 38% -15%, 40% -25%, 43% -10%, 45% -20%, 48% -15%, 50% -25%,
            53% -10%, 55% -20%, 58% -15%, 60% -25%, 63% -10%, 65% -20%, 68% -15%, 70% -25%, 73% -10%, 75% -20%,
            78% -15%, 80% -25%, 83% -10%, 85% -20%, 88% -15%, 90% -25%, 93% -10%, 95% -20%, 98% -15%, 100% -25%;
    }

    100% {
        opacity: 0;
        background-position:
            2% 120%, 5% 130%, 8% 110%, 10% 150%, 12% 130%, 15% 140%, 18% 120%, 20% 150%, 23% 110%, 25% 160%,
            28% 130%, 30% 140%, 33% 150%, 35% 130%, 38% 140%, 40% 150%, 43% 130%, 45% 160%, 48% 120%, 50% 150%,
            53% 130%, 55% 150%, 58% 140%, 60% 160%, 63% 130%, 65% 140%, 68% 150%, 70% 130%, 73% 160%, 75% 140%,
            78% 150%, 80% 130%, 83% 140%, 85% 150%, 88% 130%, 90% 160%, 93% 120%, 95% 140%, 98% 150%, 100% 130%;
    }
}