body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-content: center;
    justify-items: center;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(#020067, #2226ff);
}

.exit svg{
    width: 25px;
}
.exit a{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
}

.main {
    width: 85%;
    height: 80vh;
    background-color: whitesmoke;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
}

.medio {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.medio .enunciado {
    display: flex;
    align-items: center;
    width: 800px;
}

.medio .enunciado h2 {
    margin-right: 1%;
}

.medio .enunciado p {
    display: flex;
    width: auto;
    min-width: 240px;
    font-size: 25px;
}

.medio .perguntas {
    display: flex;
    width: 800px;
}

.medio .perguntas .grupo-1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 5px;
}

.medio .perguntas .grupo-1 button {
    width: 400px;
    border: none;
    border-radius: 20px;
    background-color: #020067;
    color: whitesmoke;
    transition: all .3s;
}

.medio .perguntas .grupo-1 button:hover {
    width: 400px;
    border: 1px solid #020067;
    border-radius: 20px;
    background-color: whitesmoke;
    color: #020067;
}


.medio .perguntas .grupo-1 button h3{
    margin-right: 5px;
}

.medio .perguntas .grupo-1 .opcao-a {
    margin-bottom: 5px;
}

.medio .perguntas .grupo-2 {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.medio .perguntas .grupo-2 button {
    width: 400px;
    border: none;
    border-radius: 20px;
    background-color: #020067;
    color: whitesmoke;
    transition: all .3s;
}

.medio .perguntas .grupo-2 button:hover {
    width: 400px;
    border: 1px solid #020067;
    border-radius: 20px;
    background-color: whitesmoke;
    color: #020067;
}

.medio .perguntas .grupo-2 button h3{
    margin-right: 5px;
}

.medio .perguntas .grupo-2 .opcao-c {
    margin-bottom: 5px;
}

.medio .perguntas .opcao {
    display: flex;
    height: 50px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.nivel {
    font-size: 20px;
}

.nivel .fc{
    font-size: 25px;
    color: #0b8a00;
}

.nivel .md{
    font-size: 25px;
    color: #d68100;
}

.nivel .df{
    font-size: 25px;
    color: #df0000;
}

.footer {
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer .copy {
    color: #ffffff87;
    margin: 0;
}