body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-content: center;
    justify-items: center;
    font-family: 'Lato',sans-serif;
    color: whitesmoke;
    background: linear-gradient(#020067,#2226ff);
}

.titulo-1{
    margin: 0;
}

.titulo-2{
    font-size: 100px;
    margin: 0;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
  
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #541eab, 0 0 40px #29027d, 0 0 50px #29027d, 0 0 60px #29027d, 0 0 70px #29027d, 0 0 80px #29027d;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 30px #4d53ff, 0 0 40px #4d53ff, 0 0 50px #4d53ff, 0 0 60px #4d53ff, 0 0 70px #4d53ff, 0 0 80px #4d53ff;
    }
}

.jogar{
    width: 380px;
    height: 40px;
    margin-top: 80px;
    font-size: 20px;
    color: #1f0067;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    transition: all .3s ease;
}

.jogar:hover{
    color: #fff;
    background-color: #1f0067;
}

.main{
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.footer .copy{
    color: #ffffff87;
}